@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #9e9e9e;
}

.container {
  background-color: #fff;
  min-height: 60vh;
  min-width: 50vh;
  padding: 2em;
  box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
}
.header {
  margin: 10px;
}

.header h2 {
  font-size: 25px;
  font-weight: 600;
  padding: 5px;
}

.header span {
  font-size: 13px;
  font-weight: 500;
  color: #9e9e9e;
}

#form-body {
  margin: 0;
  padding: 0;
  width: 370px;
}

#form-body input {
  width: 100%;
  font-size: 17px;
  padding-left: 50px;
  padding-top: 25px;
  border: none;
  border-bottom: 1px solid #9e9e99;
  box-sizing: border-box;
}

#form-body input:hover {
  border: none;
  cursor: pointer;
}

.icon {
  position: relative;
  padding: 0;
  margin: 0;
}

.icon i {
  position: absolute;
  padding-top: 1.7em;
  padding-left: 1em;
  right: 1;
  z-index: 1;
}

.form-button {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

button {
  width: 40em;
  font-size: 17px;
  font-weight: 800;
  background-color: #81c784;
  border: none;
  color: #fff;
  margin-top: 1em;
  padding: 10px;
}

button:hover {
  cursor: pointer;
  color: aquamarine;
}

#form-footer p {
  font-size: 15px;
}

#form-footer span {
  color: #81c784;
}

/********************************
MEDIA QUERY
********************************/

@media only screen and (max-width: 320px) {
  .container {
    background-color: #fff;
    padding: 2em;
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
  }
  .header {
    margin: 10px;
  }

  .header h2 {
    font-size: 25px;
    font-weight: 600;
    padding: 5px;
  }

  .header span {
    font-size: 13px;
    font-weight: 500;
    color: #9e9e9e;
  }

  #form-body {
    margin: 0;
    padding: 0;
    width: 370px;
  }

  #form-footer p {
    font-size: 12px;
  }

  #form-footer span {
    color: #81c784;
  }
}
